
  .hidden {
    display: none;
  }
  table.table tr.disabled td, td.disabled {
    color: #aaa !important;
    font-weight: normal;
  }
  table.table tr.disabled td.bg-success {
    color: white !important;
  }
  .ew2 {
    width: 100%
  }
  .btn-full {
    line-height: 2rem;
    width: 100%;
    height: 3rem;
  }

  div.tablet-top-row {
    background-color: #e3f3f3;
    /*height: 2.5rem;*/
    line-height: 2;
    font-size: 1.2rem;
  }
  div.tablet-smed-row {
    height: 4rem;
  }
  .list-group-item  {
    text-align: center;
  }
  .list-group-item-action {
    font-size: 2.4rem;
    line-height: 2rem;
    text-align: center;
  }

  .table-pro {
    width: 100%;
  }
  .table-pro tr.one_of_seven td {
    width: 0.137%
  }
  .table-pro td {
    text-align: center;
  }
  .table-pro tr.current td {
    font-size: 4rem;
    position:relative;
  }
  .table-pro tr.smalldesc td small {
    font-size: 0.8rem !important;
  }
  .table-pro tr.current td small {
      bottom: 0.2rem;
      right: 0.2rem;
      font-size: 1rem;
      color: #bbb;
  }

  .prev-h {
    display: one;
  }

  table.calc td {
      font-size: 2rem;
      text-align: center;
      border-color: black;
  }

div.status {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}


div.status div.outline2 {
  background-color: #fcebbf;
}
div.status div.outline3 {
  background-color: #fcd3bf;
}
div.status div.outline {
  background-color: #c0fcbf;

}
div.status div.line {  
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
div.status div.status-now2 {
  background-color: #ed753d;
}
div.status div.status-now {
  background-color: #42f47d;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
div.status div.postep {
  padding-bottom: 0.5rem;
}
div.status .d,
div.status .e,
div.status .q {
  font-size: 1rem;
  display: inline-block;
  width: 30%;
}
div.status  .d div,
div.status  .e div,
div.status .q div {
  background-color: red;
}