
  .hidden {
    display: none;
  }
  table.table tr.disabled td, td.disabled {
    color: #aaa !important;
    font-weight: normal;
  }
  table.table tr.disabled td.bg-success {
    color: white !important;
  }
  .ew2 {
    width: 100%
  }
  .btn-full {
    line-height: 2rem;
    width: 100%;
    height: 3rem;
  }

  div.tablet-top-row {
    background-color: #e3f3f3;
    /*height: 2.5rem;*/
    line-height: 2;
    font-size: 1.2rem;
  }
  div.tablet-smed-row {
    height: 4rem;
  }
  .list-group-item  {
    text-align: center;
  }
  .list-group-item-action {
    font-size: 2.4rem;
    line-height: 2rem;
    text-align: center;
  }

  .table-pro {
    width: 100%;
  }
  .table-pro tr.one_of_seven td {
    width: 0.137%
  }
  .table-pro td {
    text-align: center;
  }
  .table-pro tr.current td {
    font-size: 4rem;
    position:relative;
  }
  .table-pro tr.current td small {
      bottom: 0.2rem;
      right: 0.2rem;
      font-size: 1rem;
      color: #bbb;
  }

  .prev-h {
    display: none;
  }

  table.calc td {
      font-size: 2rem;
      text-align: center;
      border-color: black;
  }
